<div ng-controller="CardsController">
  <h1 class="page-title text-center">
    {{categories[currentCategory].name || "All Cards"}}
  </h1>
  <div class="filters">
    <div
      ng-show="searchInput && currentCategory !== 'T'"
      class="input-group"
      ng-init="test()"
    >
      <input
        type="text"
        class="form-control"
        placeholder="Pesquisar..."
        ng-model="search"
        id="searchInput"
      />
      <hr />

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />

        <label
          class="form-check-label"
          style="color: white"
          for="flexCheckDefault"
        >
          Default checkbox
        </label>
      </div>
      <!-- <select class="form-select"">
        <option selected>Selecione uma raridade</option>
        <option value="C">Comum</option>
        <option value="I">Incomum</option>
        <option value="R">Rara</option>
        <option value="R">Mítico raro</option>
      </select> -->
    </div>
  </div>

  <div class="row">
    <div
      id="cardss"
      class="col-md-4 col-sm-6 col-xs-12"
      ng-repeat="card in cards | filter: filterCards | filter: search | orderBy: sort"
    >
      <div class="card">
        <div class="card-info">
          <span>{{card.name}}</span>
        </div>

        <div class="card-image-wrapper">
          <div class="card-image">
            <img
              ng-src="{{card.image || 'http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=' + card.id + '&type=card'}}"
            />
          </div>
          <span
            class="card-additional-info"
            ng-show="card.additionalInfo"
            ng-style="{ color: card.additionalInfoColor }"
            >{{card.additionalInfo}}</span
          >
        </div>

        <div class="card-info card-price">
          <span>{{card.price | currency}}</span>
        </div>
        <div class="card-info card-qty">
          <span>Qtde: {{card.qty}}x</span>
        </div>
      </div>
    </div>
    <h2 ng-show="!cards.length">Carregando...</h2>
  </div>
</div>
